<p>
  <strong>Name:</strong>
  <%= @income.name %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @income.salary %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
