<% if @expenses.count != 0 %>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Despesa</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <th><%= link_to expense.description, expense %></th>
        <th><%= expense.created_at.strftime("%d %b. %Y") %></th>
        <th><%= expense.value %></th>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<p class="bg-danger">
  <strong>Total de gastos neste mês</strong>
  <%= sum_expenses %>$
<div>
