<hr>
<i><%= t('reports.index.message') %></i>

<%= form_tag  search_expenses_path , :class => "navbar-form navbar-left",:role => "search", method: :get, remote: true do %>
<%= text_field_tag :data1, params[:data1], class: "form-control ", id: "data1" ,:name => "data1",:placeholder => "inicio" %>
<%= text_field_tag :data2, params[:data2], class: "form-control ", id: "data2" ,:name => "data2",:placeholder => "fim" %>
<button class="btn btn-default" type="submit">ok</button>
<% end %>


<br>
<br>
  <div id="expenses-hide"></div>
 </div>

<script type="text/javascript" >
  $('#data1').datetimepicker({
    lang:'pt',
    i18n:{
      pt:{
        months:[
        'Janeiro','Fevereiro','Março','Abril',
        'Maio','Junho','Julho','Agosto',
        'Setembro','Outubro','Novembro','Dezembro',
        ],
        dayOfWeek:[
        "Dom", "Seg", "Ter", "Qua",
        "Qui", "Sex", "Sáb",
        ]
      }
    },
    timepicker:false,
    format:'d/m/Y'
  });
  $('#data2').datetimepicker({
    lang:'pt',
    i18n:{
      pt:{
        months:[
        'Janeiro','Fevereiro','Março','Abril',
        'Maio','Junho','Julho','Agosto',
        'Setembro','Outubro','Novembro','Dezembro',
        ],
        dayOfWeek:[
        "Dom", "Seg", "Ter", "Qua",
        "Qui", "Sex", "Sáb",
        ]
      }
    },
    timepicker:false,
    format:'d/m/Y'
  });
</script>
